<h1>Details about <%= @ingredient.name %></h1>

<p>Here are the Cocktails you are able to make:</p>

<ul>
  <% ingredient.cocktails.each do |cocktail| %>
    <li><%= cocktail.name %></li>
  <% end %>
</ul>
